---
import { xref } from '@scripts/xref.ts';

const { title, value, anchor, classes, icon } = Astro.props;
const link = await xref(value, anchor);
const allClasses = classes ? classes : '';
const iconTitle = `${title}<i class="fas ${icon} ms-1"></i>`;
---

<a class={allClasses} href={link} title={title}>{icon ? <Fragment set:html={iconTitle} /> : title}</a>
