---
import { getCollection } from 'astro:content';
import { config } from '@scripts/config';
import { contentTree } from '@scripts/content-tree';
import { contentToc } from '@scripts/content-toc';

import LayoutDocs from '@layouts/LayoutDocs.astro';
import Breadcrumbs from '@components/Breadcrumbs.astro';
import Children from '@components/Children.astro';
import TableOfContents from '@components/toc/TableOfContents.astro';
import Xref from '@components/Xref.astro';

export const getStaticPaths = (async () => {
    const pages = await getCollection('docs');

    const paths = pages.map((page, index) => {
        const [lang, ...slug] = page.slug.split('/');
        return {
            params: {
                lang,
                slug: slug.join('/') || undefined
            },
            props: page,
        };
    });

    return paths;
});

const { lang, slug } = Astro.params;
const page = Astro.props;

const isHome = page.data.title === config.titleHome;

const { Content } = await page.render();

const headings = await page.render().then(data => data.headings);
const headingsTree = contentToc(headings);
---

<LayoutDocs title={page.data.title}>
    {isHome ? (
        <div class="row">
            <div class="mb-4 col-lg-6 col-xl-8">
                <div class="card card-link card-body bg-retrowave1 h-100 lead p-md-5 d-flex justify-content-center">
                    <p class="z-1">Discover the power of Chocolatey with our comprehensive Getting Started guide, providing an overview of its requirements, terminology, functionality, and its ability to simplify software management on Windows.</p>
                    <a class="z-1 stretched-link link-primary p-0" href='@Context.GetLink("/en-us/getting-started")'>Get Started with Chocolatey<i class="fas fa-arrow-right ms-1"></i></a>
                </div>
            </div>
            <div class="mb-4 col-lg-6 col-xl-4">
                <div class="card card-link card-body bg-primary-opacity-25 h-100 lead p-md-5 d-flex justify-content-center">
                    <p>Ready to unlock the convenience of Chocolatey? Visit our installation guide to learn how to effortlessly set up Chocolatey CLI in seconds.</p>
                    <div>
                        <Xref title="Install Chocolatey CLI" value="setup-choco" classes="btn btn-dark text-white stretched-link">Install Chocolatey CLI</Xref>
                    </div>
                </div>
            </div>
        </div>
    ) : (
        <div class="row">
            <div id="mainContent" class="anchorjs-container col-xl-10 order-2 order-xl-1">
                <div class="d-none d-xl-block">
                    <h1 class="title">{page.data.title}</h1>
                    <Breadcrumbs isHome={isHome} />
                </div>
                <Content />
                <Children content={contentTree} />
            </div>
            <TableOfContents content={headingsTree} />
        </div>
    )}
</LayoutDocs>